# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Topography files
*.tt1
*.tt2
*.tt3
*.topotype1
*.topotype2
*.topotype3
*.asc
*.txydz
*.xydz
*.xyz
*.nc
